
# Configuration of clang-format
# =============================

ColumnLimit: 100

UseTab: Always
TabWidth: 4
IndentWidth: 4

ContinuationIndentWidth: 4

BreakConstructorInitializers: BeforeComma

# Indent the : after a constructor. For example:
#
#   explicit foo_class ()
#       : member1_(5)
#   {
#   }
#
ConstructorInitializerIndentWidth: 4

# Make access modifier more visible.
AccessModifierOffset: -4

# 波括弧で改行する
BreakBeforeBraces: Allman

# 短い波括弧ブロックを1行にまとめない
AllowShortBlocksOnASingleLine: false

# 波括弧の内側にスペースを入れる
Cpp11BracedListStyle: false

# 大文字と小文字を区別して、アルファベット順に並べる
SortIncludes: CaseSensitive

# ポインタの位置を右に揃える
PointerAlignment: Right

# This causes parameters on continuations to align to the opening brace.
#
#   like_this_long_name(parameter_one,
#                       parameter_two,
#                       parameter_three);
#
AlignAfterOpenBracket: Align

# Always break:
#
#   const char *foo =
#       "multi"
#       "line";
#
# Instead of:
#
#   const char *foo = "multi"
#                     "line";
#
AlwaysBreakBeforeMultilineStrings: true

# These two settings trigger stacking of parameters in most cases; this is
# easier to read and also makes diffs easier to read (since an added or removed
# parameter is obvious). For example, function calls will look like this:
#
#   like_this_long_name(parameter_one,
#                       parameter_two,
#                       parameter_three,
#                       parameter_four,
#                       parameter_five,
#                       parameter_six);
#
# Instead of:
#
#   like_this_long_name(parameter_one, parameter_two, parameter_three, parameter_four,
#                       parameter_five, parameter_six);
#
BinPackArguments: false
BinPackParameters: false

# 連続代入を整列
AlignConsecutiveAssignments: Consecutive